<div id="footer">
  <div class="container">
    <div class="row">
      <div class="footer-content col-xs-12 col-sm-10 col-sm-offset-1">
          <p id="mentions-legales"> © 2017 - Aryana Pezé </br>
          <b> Mentions légales </b> Réalisé par : Aryana Pezé - 06 10 22 38 28 - 57 avenue Jean Jaurès - Sartrouville. Hébergement : Heroku Inc., 650 7th Street, San Francisco, CA (tel : +33 1 (877) 563-4311) </p>
      </div>
    </div>
  </div>
</div>
