
<div class="container about-margin" >
  <h1 class="text-center">A Propos </h1>
    <!-- MASSAGES -->
    <div class="about-div">
      <div class = "about-item-msg">
        <h3> Massages description </h3>
        <p> J’ai eu la chance, enfant, d’être massée par ma mère. C’est sûrement la mémoire lointaine de cette douce expérience qui m’a motivée à me former au massage traditionnel de l’Inde, mon
            pays natal. </p>
        <p> « Ayurveda » qui signifie l’Art de Vie, tire son origine des plus anciens textes de l’Inde.
            C’est une approche holistique selon laquelle on est en bonne santé quand :
            <ul>
              <li> Le corps n’éprouve aucune douleur,</li>
              <li> L’affect baigne dans la joie,</li>
              <li> Le mental est calme et paisible,</li>
              <li> L’âme se remplit de béatitude.</li>
            </ul>
          <p> Etre en bonne santé, selon l’Ayurveda correspond donc à la définition qu’en donne l’OMS :
            « un état de bien-être complet physique, mental et social, et ne consiste pas seulement en une
            absence de maladie ou d'infirmité ». </p>
          <p> C’est une définition très exigeante, et le massage est un moyen pour y parvenir.</p>
          <p> Les massages que je propose sont des massages de bien-être qui ont passé le test du temps.
            Fidèle à une tradition millénaire, je vous invite, comme dit un ancien texte indien, à vous
            offrir « un massage ayurvédique complet aux huiles. C'est nourrissant et reconstituant en
            énergie vitale ; cela soulage de la fatigue, revivifie le teint et illumine la peau, améliore la
            longévité et nourrit toutes les parties du corps ». <p>
          <p> Niloufer Ravari
          <br/> Masseuse ayurvédique certifiée* </p>

          <p> *Certificat de pratique professionnel TAPOVAN Paris - membre de Ayurvedique Consortium
            of Europe. <p>
      </div>
      <div>
          <%= image_tag "wellness.jpeg", class:"photo-large" %>
      </div>
    </div>

      <!-- NILOU DESCRIPTION-->
    <div class="about-div">
      <div>
        <% if @admin.photo? %>
          <%= cl_image_tag @admin.photo.path, crop: :fill, class:"photo-large" %>
        <% end %>
      </div>
      <div class = "about-item-nil">
        <h3> <%= @admin.name %> </h3>
        <p><%= @admin.description %></p>
      </div>
    </div>

</div>
