
<div class="container text-center">
<h1>Niloufer Massages - Page statique Home Page </h1>
  <div class="row">
    <div class = "col-xs-12 col-md-7">
    <!-- Left box -->

      <div class="row">
        <div class = "col-xs-12">
          <div class="home-element">
            <h3>Event : link to upcoming event </h3>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="home-element">
            <h3>Massages description </h3>
            <p>massage 1 : bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            <p>massage 2 : bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
            <p>massage 3 : bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
          </div>
        </div>

        <div class="col-xs-12">
          <div class="home-element">
            <h3> Tarifs </h3>
            <ul>
              <li>Massage 1 : 50€</li>
              <li>Massage 2 : 50€</li>
              <li>Massage 3 : 50€</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- if  md or large-->
    <div class = "col-md-4">
    <!-- Right box - nilou description-->
      <div id="nilou-sidebar" class="home-element" >
         <h3>Description Nilou </h3>
         <p>hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello</p>
         <p>hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello</p>
         <p>hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello hello</p>
      </div>
    </div>

  </div>
</div>
