 /* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Body height for footer
html {
  height: 100%
}

body {
  min-height: 100%;
  position:relative;
  padding-bottom: 100px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds

.bg-white {
  background-color: white;
  color: $orange;
}

.bg-orange {
  background-color: $orange;
  color: white;
}


// Margin
.container-margin {
  margin: 20px;
  margin-bottom: 20px
}

.margin-top {
  margin-top: 30px;
}

