 /* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */


// Body height for footer
html {
  height: 100%
}

body {
  background: $burgandy;
  min-height: 100%;
  position:relative;
  padding-bottom: 100px;
}

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 5em;
}

// Backgrounds

.bg-white {
  background-color: white;
  color: $burgandy;
}

.bg-burgandy {
  background-color: $burgandy;
  color: white;
}

.margin-top {
  margin-top: 30px;
}


