$transparent: rgba(255, 255, 255, 0.8);

 #talkbubble {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 150px;
  padding-top: 5px;
  margin: 5px 0;
  background: $transparent;
  position: relative;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  h4 {
    color: $burgandy;
    text-align: center;
    font-weight: bold;
    flex: 1 0;
  }
}

#talkbubble:before {
  content:"";
  position: absolute;
  left: 100%;
  top: 55px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-left: 15px solid $transparent;
  border-bottom: 25px solid transparent;
}

span {
  height: 80px;
  display: table-cell;
  vertical-align: middle;
}

.flex-price {
  position: absolute;
  height: 40px;
  color: $burgandy;
  bottom: 2px;
  left: 20px;
}

.flex-length {
  position: absolute;
  left: 130px;
  bottom: 2px;
  height: 40px;
  color: $burgandy;
}


